@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);
/*common*/
.no-margin{margin:0px !important;}
.no-padding{padding: 0px !important;}
.margin-l-0{margin-left: 0px !important; }
.v-center{display: flex;align-items: center;}
.f-size-2{font-size: 2em;}
.margin-l-r-5{margin:0 5px;}
.padding-t-b-10{padding:10px 0px;}
.text-align-right{text-align: right;}
ul{list-style: none;}
body{font-family: 'Open Sans Condensed', sans-serif;}
table thead tr:first-child{background: #2d5771;color: #fff;}
table thead{border: 2px solid #2d5771;}    


/*index page*/
.header label[for=search]{vertical-align: -webkit-baseline-middle;}
.main-content{margin: 50px 0px auto auto;}
.action-btn{text-align: center;}
.page-switch{float: right;}
.header>ul{margin: 0px;width: 100%;padding: 0px;}
.th-default{width:100px;}
.th-action{width: 90px;}


/*edit page*/
.header{display: flex;justify-content: space-between;}
.price-search-bar{margin-top: 25px;}
.price-search-cbox{padding:0 15px;top:33px ;}
.price-list-label{font-size: 2em;font-weight: 600;}
.td-input{width:100px;}
.td-input .form-control{border-radius: 0px;}
@media only screen and (max-width: 767px) {
	.price-search-cbox{top: 0px;}	
}